.container,
.scene,
.fallback {
	width: 100%;
	height: 100%;
	position: relative;
	transition: opacity 1s ease-in;
}

.fallback,
.scene {
	position: absolute;
	opacity: 0;
	pointer-events: none;
}

.fallback-show,
.scene-show {
	opacity: 1;
	pointer-events: initial;
}
